<div class="main-content clearfix">
	<div class="tile-area no-padding clearfix">
		<div class="tile-group no-margin no-padding1 clearfix" style="width: 100%;">
		
			<div class="tile quadro quadro-vertical ol-transparent">
			
			<div class="tab-control" data-role="tab-control">
    <ul class="tabs">
        <li class="active"><a id="tad_entrada">Entrada</a></li>
        <li><a id="tad_salida">Salida</a></li>
        <li><a><i class="icon-upload-2"></i>&nbsp;Upload</a></li>
        <li class="place-right"><a><i class="icon-cog"></i></a></li>
    </ul>
 
 <br>
</div>
<div id="entrada">
				<p>
					<input type="file" id="examples"/>
				</p>
				<p>
					<nav>
					<ul>
						<% programs.each do |p| %>
						<li><a href="<%= p.name %>" <%=current?('/'+p.name)%>><% p.name e %></a></li>
						<% end %>
					</ul>
					</nav>
					
							<form action="/save" method="post">
							<div style="float: left; color:black;"><label for="saveas">Save as</label></div>
								<input id="saveas" type="text" name="fname" title="name" pattern="\w+"/>
								<br/><br/>
								<textarea id="input" name="input" autofocus style="width:100%;height:290px">
								<%= source %>
								</textarea>
								<br/>
								
							</form>
						
						
							<div class="input-control switch" id="parse" style="margin-left:auto;margin-right:auto;">
    <label style="color:black;">
   OFF&nbsp;
        <input type="checkbox" />
        <span class="check"></span>
      &nbsp; ON  
    </label>
</div>


				</p>
				</div>
<div id="salida" style="color:black;">

				<div class="output">
					<pre id="output" style="overflow: auto;">
						
					</pre>
				</div>
				</div>
			</div>
			<div class="tile double bg-gray ol-transparent">
				<a href="https://github.com/juanFGR" target="_blank">
				<div class="tile-content icon">
					<span class="icon-github"></span>
				</div>
				</a><a>
				</a>
			</div>
			<div class="tile ">
				<a href="http://en.wikipedia.org/wiki/Recursive_descent_parser#Example_parser" title="Wikipedia" target="_blank">
				<img src="/wikipediapng.png" style="max-height:100%; height:200px;">
				
				</a>
			</div>
			<div class="tile">
				<a href="http://docs.mathjax.org/en/latest/start.html" title="MathJax" target="_blank">
				<img src="/mathjax.png" style="max-height:100%; height:200px;">
				
				</a>
			</div>
			<div class="tile bg-red">
			  <a href="http://pegjs.majda.cz/" title="PEG.js" target="_blank">
				<img src="/pegjs.jpg" style="max-height:100%; height:200px;">
				<div class="brand">
					<div class="label">
						mathjax
					</div>
				</div>
			</a>
			</div>
			<div class="tile">
			<li>
			<a href="http://crguezl.github.io/pl-html/" title="PLGH" target="_blank">
				<img src="/moodle.png" style="max-height:100%; height:200px;width:100%">
			</a>
			</div>
			<div class="tile double ol-transparent">
				<a class="tile double bg-lightBlue" data-click="transform" href="http://sass-lang.com/" title="Sass">
				<div class="tile-content image">
					<img src="/haml-sass.jpg" style="max-height:100%; height:200px;">
				</div>
			
				</a>
			</div>
		</div>
	</div>
</div>
<script src="pl0.js"></script>
<script src="main.js"></script>