<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>pegjs</title>
<link rel="icon" type="image/jpg" href="favicon.jpg"/>
<link rel="stylesheet" href="/styles.css" type="text/css" media="screen" charset="utf-8"/>
<link rel="stylesheet" href="/Metro/css/metro-bootstrap.css"type="text/css" media="screen" charset="utf-8"/>
<link rel="stylesheet" href="/Metro/min/metro-bootstrap-responsive.min.css" type="text/css" media="screen" charset="utf-8"/>
<link rel="stylesheet" href="/codemirror/lib/codemirror.css" type="text/css" media="screen" charset="utf-8"/>

<link rel="stylesheet" href="/Metro/min/iconFont.min.css" type="text/css" media="screen" charset="utf-8"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/Metro/js/metro-global.js"></script>
<script src="/codemirror/lib/codemirror.js"></script>
<script src="/Metro/min/jquery.widget.min.js"></script>
<script src="/Metro/min/metro.min.js"></script>

</head>
<body class="metro">
<div class="navbar">
	<div class="navbar-content">
		<a href="/" class="element"><span class="icon-home"></span> HOME</a>
		<span class="element-divider"></span>
		<a class="pull-menu" href="#"></a>
		<ul class="element-menu">
			<li>
			<a class="element brand"> Analizador de PL0 ampliado usando PEG.js</a>
			</li>
		</ul>
		<div class="no-tablet-portrait">
			<span class="element-divider"></span>
			<a id ="download" class="element brand"><span class="icon-download-2"></span></a>
			<span class="element-divider"></span>
			<div class="element place-right">
				<a class="dropdown-toggle" href="#">
				<span class="icon-cog"></span>
				</a>
				<ul class="dropdown-menu place-right" data-role="dropdown">
					<li><a href="#">Products</a></li>
					<li><a href="#">Download</a></li>
					<li><a href="#">Support</a></li>
					<li><a href="#">Buy Now</a></li>
				</ul>
			</div>
			
		</div>
	</div>
</div>
<nav>
<ul>
	<li><a href="/grammar" title="Grammar" <%=current?("/grammar")%>>Grammar</a></li>
	<li><a href="http://campusvirtual.ull.es/1314/course/view.php?id=1104" title="PL-UDV" target="_blank">PL-UDV</a></li>
	
	
	<li><a href="http://datamapper.org/" title="DataMapper" target="_blank">DataMapper</a></li>
	
	
</ul>
</nav>
<br/>
<div style="width:80%;margin-left:auto;margin-right:auto;">
	<%= yield%>
</div>
</body>
</html>