<h2>Test</h2>

<script type='text/javascript' src='/chai.js'/>
<script type='text/javascript' src='/mocha.js'/>
<body>
<div id="mocha">
  <script>
    mocha.setup('tdd');
    </script>
  <script type='text/javascript' src='/tests.js'/>
  <script>
    mocha.run();
    </script>
</div>
</body>