<h2>Test</h2>

<script type='text/javascript' src='/chai.js'></script>
<script type='text/javascript' src='/mocha.js'></script>

<div id="mocha">
</div>

<script type='text/javascript'>
   mocha.setup('tdd');
</script>
<script type='text/javascript' src='/tests.js'></script>
<script>
  mocha.run();
</script>
